@import "common-project";
@import "common-project-2";

#projet-pages {
    h1 {
        color: $gold;
        font-family: $raleway-bold;

        @media all and (min-width: 577px) and (max-width: 1024px) {
            margin-bottom: 3rem;
        }

        @media all and (min-width: 992px) {
            text-align: right;
        }

        @media all and (max-width: 768px) {
            text-align: center;
        }

        @media all and (min-width: 577px) {
            font-size: 17rem;
        }

        @media all and (max-width: 576px) {
            font-size: 10rem;
        }
    }

    h2:not(.him) {
        color: $blue;
        display: inline-block;
        font-size: 5rem;

        &::after {
            background: $cyan;
            content: '';
            display: inline-block;
            height: 1px;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    p {
        @media all and (min-width: 992px) {
            line-height: 6rem;
        }

        @media all and (max-width: 991px) {
            line-height: 4rem;
        }
    }

    #container {
        section[data-anchor="2"], section[data-anchor="3"] {
            height: 100vw;

            .col-12 {
                opacity: 0;
            }
        }

        section[data-anchor="2"] {
            &.show {
                .col-12 {
                    -webkit-animation: bounceInRight 1s linear forwards;
                    -moz-animation: bounceInRight 1s linear forwards;
                    animation: bounceInRight 1s linear forwards;
                }
            }
        }

        section[data-anchor="3"] {
            &.show {
                .col-12 {
                    -webkit-animation: bounceInLeft 1s linear forwards;
                    -moz-animation: bounceInLeft 1s linear forwards;
                    animation: bounceInLeft 1s linear forwards;
                }
            }
        }

        .projet-pages {
            &.show {
                a:not(.him) {
                    -webkit-animation: bounceInRight 1s linear forwards .6s;
                    -moz-animation: bounceInRight 1s linear forwards .6s;
                    animation: bounceInRight 1s linear forwards .6s;
                }

                h1 {
                    -webkit-animation: bounceInRight 1s linear forwards .2s;
                    -moz-animation: bounceInRight 1s linear forwards .2s;
                    animation: bounceInRight 1s linear forwards .2s;
                }

                h2 {
                    -webkit-animation: bounceInLeft 1s linear forwards;
                    -moz-animation: bounceInLeft 1s linear forwards;
                    animation: bounceInLeft 1s linear forwards;
                }

                img:not(.him) {
                    -webkit-animation: bounceInLeft 1s linear forwards .2s;
                    -moz-animation: bounceInLeft 1s linear forwards .2s;
                    animation: bounceInLeft 1s linear forwards .2s;
                }

                p {
                    -webkit-animation: bounceInRight 1s linear forwards .4s;
                    -moz-animation: bounceInRight 1s linear forwards .4s;
                    animation: bounceInRight 1s linear forwards .4s;
                }
            }

            a:not(.him), h1, h2, img:not(.him), p {
                opacity: 0;
            }
        }
    }

    .pg-pips {
        margin-top: 30px;
        opacity: 0;
        right: 30px;

        &.show {
            -webkit-animation: bounceInRight 1s linear forwards .2s;
            -moz-animation: bounceInRight 1s linear forwards .2s;
            animation: bounceInRight 1s linear forwards .2s;
        }
    }

    .pg-wrapper {
        overflow-x: hidden;
    }
}
