aside#menu {
    position: fixed;
    z-index: 1001;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    transition: background .3s linear;

    &:not(.finished) {
        opacity: 0;
    }

    &.show:not(.finished) {
        top: calc(50% - 13px);
        -webkit-animation: bounceInRight 1s linear forwards;
        -moz-animation: bounceInRight 1s linear forwards;
        animation: bounceInRight 1s linear forwards;
    }

    &:not(.open) {
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        .menu-content {
            display: none;
        }

        .toggle-aside {

            .icon-close {
                display: none;
            }
        }
    }

    &.open {
        background: $black ;
        height: 100vh;
        left: 0;
        opacity: 1;
        top: 0;
        width: 100vw;

        .toggle-aside {
            position: absolute;
            right: 15px;
            top: 15px;

            .icon-burger {
                display: none;
            }
        }
    }

    .menu-content {
        color: $white;

        .row {
            height: 100vh;

            @media all and (min-width: 992px) {
                .col-lg-2 {
                    border-left: 1px solid $grey-light;
                    border-right: 1px solid $grey-light;
                    height: 100%;
                }
            }

            @media all and (max-width: 991px) {
                .col-lg-2 {
                    border-bottom: 1px solid $grey-light;
                    border-top: 1px solid $grey-light;
                }
            }

            h2 {
                font-family: $raleway-bold;

                @media all and (min-width: 992px) {
                    margin-left: 3rem;
                    margin-top: 8rem;
                    font-size: 8rem;

                    &::before {
                        background: cyan;
                        content: "";
                        height: 5px;
                        position: absolute;
                        top: 5rem;
                        width: 50px;
                    }
                }

                @media all and (max-width: 991px) {
                    font-size: 5rem;
                    left: 50%;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }

            .col-lg-2 {
                .socials-links {
                    margin-top: 6rem;

                    @media all and (max-width: 991px) {
                        display: none;
                    }

                     li {
                         list-style: none;
                         margin-bottom: 3rem;
                         margin-top: 3rem;

                         img {
                             height: 75px;
                             width: 75px;

                             * {
                                 fill: white !important;
                             }
                         }
                     }
                }

                .menu-content-nav-item {
                    color: $white;
                    font-size: 5rem;
                    font-family: $raleway-bold;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

                    &::after {
                        background: $white;
                        display: block;
                        content:'';
                        height: 5px;
                        width: 0;
                        -webkit-transition: width .2s ease-out;
                        -moz-transition: width .2s ease-out;
                        transition: width .2s ease-out;
                    }

                    &:hover {
                        color: $white;
                        text-decoration: none;

                        &::after {
                            width: 100%;
                        }
                    }

                    &.active {
                        &::before {
                            background: $cyan;
                            content: "";
                            height: 5px;
                            position: absolute;
                            top: 50%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .toggle-aside {
        background: none;
        border: 0;
        cursor: pointer;
        z-index: 5;

        img {
            width: 40px;
        }
    }
}
