header {
    width: 100vw;

    @media all and (min-width: 992px) {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 999;
    }

    @media all and (max-width: 991px) {
        background: $black;
        height: 12rem;
    }

    * {
        color: $white;
    }

    .active {
        position: relative;

        &::after {
            display: none;
        }

        img {
            height: 50px;
            left: -10%;
            position: absolute;
            top: 50%;
            width: 120%;
            transform: translateY(-50%);
        }
    }

    .navbar {
        font-family: $raleway-bold;
        font-size: 2.5rem;

        .navbar-brand {
            margin: 0;

            @media all and (max-width: 991px) {
                font-family: $raleway-bold;
                font-size: 5rem;
                text-align: center;
                width: 100%;
            }
        }

        .nav-item {
            &:not(.active) {
                &::after {
                    background: $white;
                    display: block;
                    content:'';
                    height: 5px;
                    width: 0;
                    -webkit-transition: width .2s ease-out;
                    -moz-transition: width .2s ease-out;
                    transition: width .2s ease-out;
                }

                &:hover {
                    color: $white;
                    text-decoration: none;

                    &::after {
                        width: 100%;
                    }
                }
            }

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }

        .navbar-toggler {
            background: none;
            border: 0;
            margin: 0;
            padding: 0;

            img {
                @media all and (max-width: 991px) {
                    width: 40px;
                }
            }
        }
    }
}

.row-header {
    header {
        left: -15px;
        position: relative;

        .navbar {
            background: $black;
        }
    }
}
