#carousel-home {
    margin-left: -15px;
    width: 100vw;

    @media all and (min-width: 992px) {
        height: 100vh;
    }

    @media all and (max-width: 991px) {
        height: calc(100vh - 120px);
    }

    .carousel-indicators-dots, .carousel-indicators, .carousel-indicators-numbers {
        left: unset;
        margin: 0;
        margin-right: 5rem;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .carousel-indicators, .carousel-indicators-numbers {
        flex-direction: column;
        top: 50%;
    }

    .carousel-indicators-dots {
        bottom: 0;
        flex-direction: row;
        left: 50%;
        margin: 0;
        padding: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);

        img {
            height: 20px;
            width: 20px;
        }

        li {
            margin-left: 1.75rem;
            margin-right: 1.75rem;
        }
    }

    .carousel-indicators {
        right: 45px;

        li {
            background: $white;
            height: 5px;
            margin-bottom: 2.5rem;
            margin-left: auto;
            margin-top: 2.5rem;
            width: 50px;
            -webkit-transition: width .2s ease-out;
            -moz-transition: width .2s ease-out;
            transition: width .2s ease-out;

            &.active {
                width: 100px;
            }

            span {
                color: $white;
                display: inline-block;
                font-size: 3rem;
                font-family: $raleway-bold;
                height: 10px;
                right: 0;
                position: absolute;
                top: -10px;
                width: 100%;
            }
        }
    }
    .carousel-indicators-dots, .carousel-indicators-numbers {
        display: flex;
        justify-content: center;
        list-style: none;
        position: absolute;
        z-index: 15;

        li {
            color: $white;
            cursor: pointer;
            font-family: $raleway-bold;
            font-size: 3.5rem;
        }
    }

    .carousel-indicators-numbers {
        bottom: 10px;
        margin-left: 15%;
        padding-left: 0;
        right: 0;

        &:first-child {
            margin-top: -24px;
        }

        &:nth-child(2) {
            margin-top: 3px;
        }

        &:last-child {
            margin-top: -3px;
        }
    }

    .img {
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        @media all and (min-width: 992px) {
            height: 100vh;
        }

        @media all and (max-width: 991px) {
            height: calc(100vh - 120px);
        }
    }
}
