footer {
    height: 100vh;
    overflow: hidden;
    position: relative;

    &.show {

        h3 {
            -webkit-animation: bounceInLeft 1s linear forwards;
            -moz-animation: bounceInLeft 1s linear forwards;
            animation: bounceInLeft 1s linear forwards;
        }

        .real-footer {
            -webkit-animation: bounceInRight 1s linear forwards;
            -moz-animation: bounceInRight 1s linear forwards;
            animation: bounceInRight 1s linear forwards;
        }
    }

    > .row {

        .row {
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }

    h3 {
        color: $grey;
        font-family: $raleway-bold;
        font-size: 7rem;
        margin-bottom: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: calc(50% - 84px);
        width: 100%;
    }

    p {
        color: $mention;
        margin: 0;
    }

    .real-footer {
        opacity: 0;
    }

    .socials-links {
        flex-direction: row;

        img {
            &:hover {
                -webkit-animation: pulse 1s linear infinite;
                -moz-animation: pulse 1s linear infinite;
                animation: pulse 1s linear infinite;
            }
        }

        img.insta {
            height: 25px;
        }

        img.linkedin {
            height: 43px;
            margin-top: -8px;
        }

        img.mail {
            height: 23px;
        }
    }
}
