.portfolio-home {
    height: 100vh;
    overflow: hidden;

    &.show {

        h1 {
            -webkit-animation: bounceInRight 1s linear forwards;
            -moz-animation: bounceInRight 1s linear forwards;
            animation: bounceInRight 1s linear forwards;
        }

        .brush {
            -webkit-animation: bounceInLeft 1s linear forwards;
            -moz-animation: bounceInLeft 1s linear forwards;
            animation: bounceInLeft 1s linear forwards;
        }
    }

    a {
        color: $blue-secondary;
        font-family: $raleway-bold-italic;
        font-size: 2rem;
        min-height: 6rem;

        &::after {
            background: $blue-secondary;
            display: inline-block;
            content:'';
            height: 5px;
            margin-bottom: 15px;
            width: 0;
            -webkit-transition: width .2s ease-out;
            -moz-transition: width .2s ease-out;
            transition: width .2s ease-out;
        }

        &:hover {
            color: $blue-secondary;
            text-decoration: none;

            &::after {
                width: 100%;
            }
        }
    }

    h1 {
        font-family: $raleway-bold;
        color: $h1;
        font-size: 20rem;
        margin: 0;
        opacity: 0;

        @media all and (min-width: 769px) {
            padding-left: 400px;
        }

        @media all and (min-width: 577px) and (max-width: 768px) {
            font-size: 15rem;
        }

        @media all and (max-width: 576px) {
            color: $grey-light;
            text-align: center;
        }
    }

    .brush {
        height: 65vh;
        margin-top: -4rem;
        opacity: 0;
    }

    .photos {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        img {

            @media all and (min-width: 577px) {
                width: 465px;
            }

            @media all and (max-width: 576px) {
                width: 100vw;
            }
        }
    }

    .text-center.position-relative {
        @media all and (max-width: 576px) {
            height: 50vh;
        }
    }
}
