.ux-home {
    height: 100vh;
    overflow: hidden;

    &.show {
        h2 {
            -webkit-animation: bounceInLeft 1s linear forwards;
            -moz-animation: bounceInLeft 1s linear forwards;
            animation: bounceInLeft 1s linear forwards;
        }

        .ipad:not(.finished) {
            -webkit-animation: bounceInRight 1.5s linear forwards .4s;
            -moz-animation: bounceInRight 1.5s linear forwards .4s;
            animation: bounceInRight 1.5s linear forwards .4s;
        }

        .julien:not(.finished) {
            -webkit-animation: bounceInRight 1.5s linear forwards;
            -moz-animation: bounceInRight 1.5s linear forwards;
            animation: bounceInRight 1.5s linear forwards;
        }

        .one-page:not(.finished) {
            -webkit-animation: bounceInRight 1.5s linear forwards .2s;
            -moz-animation: bounceInRight 1.5s linear forwards .2s;
            animation: bounceInRight 1.5s linear forwards .2s;
        }
    }

    h2 {
        color: $peach;
        font-family: $raleway-bold;
        font-size: 18rem;
        opacity: 0;

        @media all and (min-width: 992px) {
            margin-bottom: -12rem;
        }

        @media all and (max-width: 991px) {
            margin-bottom: 45rem;
        }
    }

    img:not(.finished) {
        opacity: 0;
    }

    .artiste {
        margin-top: -2rem;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;

            @media all and (min-width: 992px) {
                width: 60%;
            }

            @media all and (max-width: 991px) {
                margin-top: -45rem;
                width: 100%;
            }
        }
    }

    .ipad-onepage {
        position: relative;

        .ipad {
            position: absolute;
            right: 0;
            top: 20%;
            width: 45%;
        }

        .one-page {
            bottom: 0;
            left: 20%;
            position: absolute;
            width: 70%;
        }
    }

    .ux-text {
        @media all and (min-width: 992px) {
            margin-left: -12rem;
            margin-top: -10rem;
        }

        @media all and (max-width: 991px) {
            margin-top: -12rem;
        }
    }
}
