.web-home {
    height: 100vh;
    overflow: hidden;

    &.show {

        h2 {
            -webkit-animation: bounceInRight 1s linear forwards;
            -moz-animation: bounceInRight 1s linear forwards;
            animation: bounceInRight 1s linear forwards;
        }

        img:not(.finished) {
            -webkit-animation: bounceInLeft 1.5s linear forwards;
            -moz-animation: bounceInLeft 1.5s linear forwards;
            animation: bounceInLeft 1.5s linear forwards;
        }
    }

    h2 {
        color: $gold;
        font-family: $raleway-bold;
        opacity: 0;
        text-align: center;
        position: relative;
        z-index: 2;

        @media all and (min-width: 992px) {
            font-size: 18rem;
            margin-bottom: -24rem;
        }

        @media all and (max-width: 991px) {
            font-size: 13rem;
            margin-bottom: -15rem;
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        &:not(.finished) {
            opacity: 0;
        }

        @media all and (min-width: 992px) {
            height: 70vh;
        }

        @media all and (max-width: 991px) {
            height: auto;
            margin-top: 12rem;
            max-width: calc(100vw - 30px);
        }
    }

    .web-home-text {
        @media all and (min-width: 992px) {
            margin-top: -6rem;
        }

        @media all and (max-width: 991px) {
            margin-top: 2rem;
        }
    }
}
