.web-home {
    height: 100vh;
    overflow: hidden;

    &.show {
        img {
            -webkit-animation: bounceInLeft 1s linear forwards;
            -moz-animation: bounceInLeft 1s linear forwards;
            animation: bounceInLeft 1s linear forwards;
        }
    }

    h2 {
        color: $gold;
        font-family: $raleway-bold;
        font-size: 18rem;
        margin-bottom: -24rem;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    img {
        display: block;
        height: 70vh;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
    }
}
