// Global Vars

$black: #000000;
$blue: #2b51fa;
$blue-secondary: #2a50fa;
$blue-light: #b1edee;
$cyan: #00ffff;
$gold: #f1e6d8;
$grey-light: #dadada;
$grey-medium: #c9c7c7;
$grey: #9c9c9c;
$peach: #f8dab5;
$white: #ffffff;


$raleway-bold: 'Raleway-Bold';
$raleway-bold-italic: 'Raleway-Bold-Italic';
$raleway-regular: 'Raleway-Regular';
$roboto-regular: 'Roboto-Regular';

// Home Page
$h1: #f6f2ee;
$mention: #787878;
