#about {
    h1 {
        color: $gold;
        font-family: $raleway-bold;

        @media all and (min-width: 577px) and (max-width: 1024px) {
            margin-bottom: 3rem;
        }

        @media all and (min-width: 992px) {
            text-align: right;
        }

        @media all and (max-width: 768px) {
            text-align: center;
        }

        @media all and (min-width: 577px) {
            font-size: 17rem;
        }

        @media all and (max-width: 576px) {
            font-size: 10rem;
        }
    }

    header {
        left: -15px;
        position: relative;

        .active {
            position: relative;

            &::after {
                display: none;
            }

            img {
                height: 50px;
                left: -10%;
                position: absolute;
                top: 50%;
                width: 120%;
                transform: translateY(-50%);
            }
        }

        .navbar {
            background: $black;
        }
    }

    #container {
        .about-page {
            &.show {

                a:not(.him) {
                    -webkit-animation: bounceInRight 1s linear forwards .6s;
                    -moz-animation: bounceInRight 1s linear forwards .6s;
                    animation: bounceInRight 1s linear forwards .6s;
                }

                h1 {
                    -webkit-animation: bounceInLeft 1s linear forwards;
                    -moz-animation: bounceInLeft 1s linear forwards;
                    animation: bounceInLeft 1s linear forwards;
                }

                img:not(.him) {
                    -webkit-animation: bounceInLeft 1s linear forwards .2s;
                    -moz-animation: bounceInLeft 1s linear forwards .2s;
                    animation: bounceInLeft 1s linear forwards .2s;
                }

                p {
                    -webkit-animation: bounceInRight 1s linear forwards .4s;
                    -moz-animation: bounceInRight 1s linear forwards .4s;
                    animation: bounceInRight 1s linear forwards .4s;
                }
            }

            a:not(.him), h1, img:not(.him), p {
                opacity: 0;
            }
        }
    }

    .breadcrumb {
        background: transparent;
        color: $grey-medium;
        font-family: $raleway-bold;

        .breadcrumb-item {
            &.active, &::before {
                color: $grey-medium;
            }

            a {
                color: $grey-medium;

                &:active, &:focus, &:hover {
                    color: $grey;
                }
            }
        }
    }

    .ms {
        max-height: 440px;
        max-width: 100%;
    }

    .pg-pips {
        margin-top: 30px;
        opacity: 0;
        right: 30px;

        &.show {
            -webkit-animation: bounceInRight 1s linear forwards .2s;
            -moz-animation: bounceInRight 1s linear forwards .2s;
            animation: bounceInRight 1s linear forwards .2s;
        }
    }

    .pg-wrapper {
        overflow-x: hidden;
    }

    .wrapper-about {
        @media all and (max-width: 576px) {
            text-align: center;

            p {
                margin-top: 2rem;
            }
        }

        a {
            background: $black;
            border: 0 solid;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0);
            color: $white;
            outline: 1px solid;
            outline-color: rgba(0, 0, 0, .5);
            outline-offset: 0px;
            padding: 10px 5px;
            text-align: center;
            text-shadow: none;
            width: 60px;
            -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
                border: 1px solid;
                box-shadow: inset 0 0 20px rgba(0, 0, 0, .5), 0 0 20px rgba(0, 0, 0, .2);
                color: $white;
                outline-color: rgba(0, 0, 0, 0);
                outline-offset: 15px;
                text-decoration: none;
                text-shadow: 1px 1px 2px #427388;
            }
        }

        p {
            @media all and (min-width: 992px) {
                line-height: 6rem;
            }

            @media all and (max-width: 991px) {
                line-height: 4rem;
            }
        }
    }
}
