<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="">
        <meta property="og:locale" content="fr_FR">
        <meta property="article:author" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:url" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <title>Marie-Sophie Echasseriau | Portfolio</title>
        <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon" />
    </head>
    <body id="home">
        <header>
            <nav class="navbar navbar-expand-lg px-5 py-3">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Ouvre le menu">
                    <img src="public/home/burger.svg" alt="Icon Toggle Menu">
                </button>
                <a class="navbar-brand d-lg-none" href="index.html">Portfolio</a>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link mx-4" href="index.html">Home</a>
                        <a class="nav-item nav-link mx-4 active" href="about.html">About <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link mx-4" href="#">Projets</a>
                        <a class="nav-item nav-link mx-4" href="public/cv.pdf" target="_blank">CV</a>
                    </div>
                </div>
            </nav>
        </header>
        <aside id="menu">
            <button class="toggle-aside" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Ouvre le menu">
                <img class="icon-burger" src="public/home/burger.svg" alt="Icon Open Menu" />
                <img class="icon-close" src="public/home/close.svg" alt="Icon Close Menu" />
            </button>
            <div class="menu-content">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        <h2>Portfolio</h2>
                        <ul class="socials-links">
                            <li>
                                <a class="nav-link" href="#">
                                    <img class="lazyload mail" data-src="public/home/mail-white.svg" alt="Mail">
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="https://www.instagram.com/marie.s08" target="_about" rel="noreferrer noopener">
                                    <img class="lazyload insta" data-src="public/home/insta-white.svg" alt="Instagram">
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="https://www.linkedin.com/in/marie-sophie-echasserieau-a69417a5" target="_about" rel="noreferrer noopener">
                                    <img class="lazyload linkedin" data-src="public/home/linkedin-white.svg" alt="Linkedin">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-2">
                        <a class="menu-content-nav-item" href="index.html">Home</a>
                    </div>
                    <div class="col-12 col-lg-2">
                        <a class="menu-content-nav-item active" href="about.html">About <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="col-12 col-lg-2">
                        <a class="menu-content-nav-item" href="#">Projets</a>
                    </div>
                    <div class="col-12 col-lg-2">
                        <a class="menu-content-nav-item" href="public/cv.pdf" target="_blank">CV</a>
                    </div>
                    <div class="col-12 col-lg-2"></div>
                </div>
            </div>
        </aside>
        <div id="container">

        </div>
    </body>
</html>
