// General
@import 'fonts/font';
@import 'tools/keyframes';
@import 'tools/variables';

// Libs
@import '~bootstrap/scss/bootstrap';
@import 'components/pageable';

// Components
@import 'components/aside';
@import 'components/field';
@import 'components/header';
@import 'components/parallax';
@import 'components/scroll-down';

// Pages
@import 'projet-pages/projet-pages_index';
@import 'about/about_index';
@import 'home/home_index';
@import 'projets/projets_index';

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border: 0 solid rgba($black, .2);
    &:horizontal { border-bottom-width: 1px; }
    &:vertical { border-right-width: 1px; }
}

::-webkit-scrollbar-thumb {
    border: 0 solid rgba($mention, .4);
    &:horizontal {
        border-bottom-width: 4px;
        &:hover { border-bottom-width: 8px; }
    }
    &:vertical {
        border-right-width: 4px;
        &:hover { border-right-width: 8px; }
    }
}


html {
    font-size: 10px;
}

body {
    font-family: $raleway-regular;
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100vw;
}

#menu:not(.open) .toggle-aside {
    @media all and (max-width: 991px) {
        opacity: .5;
    }
}

.breadcrumb {
    background: transparent;
    color: $grey-medium;
    font-family: $raleway-bold;

    .breadcrumb-item {
        &.active, &::before {
            color: $grey-medium;
        }

        a {
            color: $grey-medium;
            -webkit-transition: color .2s;
            -moz-transition: color .2s;
            transition: color .2s;

            &:active, &:focus, &:hover {
                color: $grey;
            }
        }
    }
}

.vertical-center-mobile {
    @media all and (max-width: 576px) {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
