// General
@import 'fonts/font';
@import 'tools/keyframes';
@import 'tools/variables';

// Libs
@import '~bootstrap/scss/bootstrap';
@import 'components/pageable';

// Components
@import 'components/aside';
@import 'components/field';
@import 'components/header';
@import 'components/parallax';
@import 'components/scroll-down';

// Pages
@import 'about/about_index';
@import 'home/home_index';


html {
    font-size: 10px;
}

body {
    font-family: $raleway-regular;
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100vw;
}

#menu:not(.open) .toggle-aside {
    @media all and (max-width: 991px) {
        opacity: .5;
    }
}

.vertical-center-mobile {
    @media all and (max-width: 576px) {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
